:root {
  color-scheme: dark;
}

body {
  background-color: #0f0f14;
  color: #e5e7eb;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

body {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.app-logo {
  margin-top: 40px;
  margin-bottom: 120px;
  max-height: 20px;
  object-fit: contain;
}

.container {
  margin-bottom: 40px;
  border: 2px solid #7c3aed;
  padding: 20px;
  min-width: 420px;
  border-radius: 8px;

  box-shadow:
    0 4px 12px rgba(124, 58, 237, 0.25),
    0 0 0 1px rgba(124, 58, 237, 0.15);
}

.status {
  text-align: center;
  margin-bottom: 10px;
  font-size: 0.9em;
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
  margin-bottom: 12px;
  max-width: 90vw;      
  width: 100%;          
  margin-left: auto;   
  margin-right: auto;  
}

#grid-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
  margin-top: 25px;
}

#sub-container-input {
  grid-column: span 2;
  border: 2px solid #7c3aed;
  padding: 20px;
  border-radius: 8px;
  max-height: 250px;
  overflow-y: auto;

  box-shadow:
    0 4px 12px rgba(124, 58, 237, 0.25),
    0 0 0 1px rgba(124, 58, 237, 0.15);
}

#sub-container-defect-type {
  grid-column: span 4;
  grid-row: span 2;
  border: 2px solid #7c3aed;
  padding: 20px;
  border-radius: 8px;
  max-height: 500px;
  overflow-y: auto;

  box-shadow:
    0 4px 12px rgba(124, 58, 237, 0.25),
    0 0 0 1px rgba(124, 58, 237, 0.15);
}

#sub-container-point {
  grid-column: span 1;
  border: 2px solid #7c3aed;
  padding: 20px;
  border-radius: 8px;

  box-shadow:
    0 4px 12px rgba(124, 58, 237, 0.25),
    0 0 0 1px rgba(124, 58, 237, 0.15);
}


.invis-sub-container {
  grid-column: span 1;
  padding: 20px;
  border-radius: 8px;
}

#sub-container-susut-list {
  grid-column: span 2;
  border: 2px solid #7c3aed;
  padding: 20px;
  border-radius: 8px;

  box-shadow:
    0 4px 12px rgba(124, 58, 237, 0.25),
    0 0 0 1px rgba(124, 58, 237, 0.15);
}

#sub-container-susut-table {
  grid-column: span 2;
  border: 2px solid #7c3aed;
  padding: 20px;
  border-radius: 8px;
  max-height: 250px;
  overflow-y: auto;

  box-shadow:
    0 4px 12px rgba(124, 58, 237, 0.25),
    0 0 0 1px rgba(124, 58, 237, 0.15);
}

.invis-sub-container .encoder-pos,
.invis-sub-container .send-defect-btn {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.invis-sub-container .encoder-pos {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
}

#sub-container-input h3,
#sub-container-defect-type h3,
#sub-container-point h3 {
  text-align: center;
}

#sub-container-susut-list h3,
#sub-container-susut-table h3{
  text-align: center;
}

#shiftField {
  grid-column: span 3;
}

#insField {
  grid-column: span 3;
}

#tglProsesField {
  grid-column: span 2;
}

#dateField {
  grid-column: span 1;
}

#typeField {
  grid-column: span 2;
}

#customTypeField {
  grid-column: span 1;
}

#kpField {
  grid-column: span 1;
}

#texCodeField {
  grid-column: span 2;  
}

#operatorField {
  grid-column: span 2;
}

input, button {
  padding: 8px;
  box-sizing: border-box;
  width: 100%;
}

.dynamic-row {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 15px;
  margin-bottom: 6px;
}

.send-defect-btn {
  white-space: nowrap;
}


.point-btn {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #7c3aed;
  background: transparent;
  color: #e5e7eb;
  cursor: pointer;
}

.point-btn.selected {
  background: #7c3aed;
  color: white;
}

.defect-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
  gap: 6px;
}

.defect-btn {
  padding: 6px 4px;
  font-size: 0.85rem;
  border-radius: 6px;
  border: 1px solid #7c3aed;
  background: transparent;
  color: #e5e7eb;
  cursor: pointer;
  text-align: center;
}

.defect-btn.selected {
  background: #7c3aed;
  color: white;
}

#dynamic-input-list {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-top: 10px;
}

.defect-row {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 8px;
  padding: 6px 8px;
  border-radius: 6px;
  background: rgba(124, 58, 237, 0.12);
  font-size: 0.9rem;
}

.defect-col {
  text-align: center;
}

.encoder-col {
  font-weight: 600;
}

.type-col {
  text-align: left;
}

.point-col {
  font-weight: 600;
}


.susut-row {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 8px;
  padding: 6px 8px;
  border-radius: 6px;
  background: rgba(124, 58, 237, 0.12);
  font-size: 0.9rem;
}

.susut-col {
  text-align: center;
}

.encoder-col {
  font-weight: 600;
}

.susut-val-col {
  text-align: left;
  font-weight: 600;
}

[hidden] {
  display: none !important;
}

.susut-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.susut-table th,
.susut-table td {
  border: 1px solid #7c3aed;
  padding: 6px;
  text-align: center;
}

.defect-row {
  display: grid;
  grid-template-columns: 80px 1fr 60px 30px;
  gap: 8px;
  align-items: center;
}

.delete-btn {
  background: transparent;
  border: none;
  color: #ef4444;
  font-size: 16px;
  cursor: pointer;
  line-height: 1;
}

.delete-btn:hover {
  color: #dc2626;
}

.susut-table input {
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}

.susut-table input[type="number"] {
  padding: 1px 2px;
}

/* Chrome, Edge, Safari */
.susut-table input[type="number"]::-webkit-inner-spin-button,
.susut-table input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.susut-table input[type="number"] {
  -moz-appearance: textfield;
}


#grid-4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
  margin-top: 25px;
}


#sub-container-result {
  grid-column: span 2;
  border: 2px solid #7c3aed;
  padding: 20px;
  border-radius: 8px;
  overflow-y: auto;

  box-shadow:
    0 4px 12px rgba(124, 58, 237, 0.25),
    0 0 0 1px rgba(124, 58, 237, 0.15);
}

#sub-container-update-summary {
  display: grid;
  grid-column: span 4;
  border: 2px solid #7c3aed;
  padding: 20px;
  border-radius: 8px;
  overflow-y: auto;

  box-shadow:
    0 4px 12px rgba(124, 58, 237, 0.25),
    0 0 0 1px rgba(124, 58, 237, 0.15);
  grid-template-columns: repeat(4, minmax(140px, 1fr));
  gap: 12px;

  padding: 16px;
  border: 2px solid #7c3aed;
  border-radius: 8px;

  box-shadow:
    0 4px 12px rgba(124, 58, 237, 0.25),
    0 0 0 1px rgba(124, 58, 237, 0.15);
}

#sub-container-update-summary input,
#sub-container-update-summary select,
#sub-container-update-summary textarea {
  width: 100%;
  padding: 6px 8px;
  font-size: 14px;

  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#ketEfField {
  grid-column: span 4;
  resize: vertical;
}

#sub-container-update-summary h3 {
  grid-column: 1 / -1;   /* span all columns */
  margin: 0 0 8px 0;
}

.result-table {
  width: 100%;
  border-collapse: collapse;
}

.result-table th,
.result-table td {
  border: 1px solid #7c3aed;
  padding: 6px 10px;
  text-align: left;
}

.result-table th {
  background-color: rgba(124, 58, 237, 0.08);
  font-weight: 600;
}

.submit-summary-btn {
  grid-column: span 2;

  height: 80px;
  width: 50%;
  justify-self: center;

  padding: 10px 14px;
  font-size: 14px;
  font-weight: 600;

  border: none;
  border-radius: 6px;
  cursor: pointer;

  background-color: #7c3aed;
  color: #fff;
}

.submit-summary-btn:hover {
  background-color: #6d28d9;
}
